<div class="content-loader">
    <h1 class="title">GALLERY</h1>
    <p class="text">
        {{ museum.gallery }}
    </p>

    <div class="piece-container">
        
        <div routerLink="/piece" *ngFor="let piece of museum.piecesData" id="{{ piece.id }}" (click)="pieceClicked(piece.id)" [style.background-image]="'url(' + piece.miniature + ')'" class="miniature">
            <div class="description">
                <h3>{{ piece.title }}</h3>
                <p>by {{ piece.author }}</p>
            </div>
        </div>

    </div>
</div>

