<div class="content-loader">
    <h1 class="title">GALLERY</h1>
    <p class="text">
        The visual arts are art forms such as painting, drawing, printmaking, sculpture, ceramics, photography, video, filmmaking, design, crafts, and architecture. Many artistic disciplines such as performing arts, conceptual art, textile arts also involve aspects of visual arts as well as arts of other types.
    </p>

    <div class="piece-container">
        
        <div routerLink="/piece" *ngFor="let piece of museum.piecesData" id="{{ piece.id }}" [style.background-image]="'url(' + piece.miniature + ')'" class="miniature">
            <div class="description">
                <h3>{{ piece.title }}</h3>
                <p>by {{ piece.author }}</p>
            </div>
        </div>

    </div>
</div>

