<div class="content-loader">
    <h1 class="title">GALLERY</h1>
    <p class="text">
        The visual arts are art forms such as painting, drawing, printmaking, sculpture, ceramics, photography, video, filmmaking, design, crafts, and architecture. Many artistic disciplines such as performing arts, conceptual art, textile arts also involve aspects of visual arts as well as arts of other types.
    </p>

    <div class="piece-container">
        <div routerLink="/piece" class="left">
            <div class="description">
                <h3>Starry Night</h3>
                <p>Author</p>
            </div>
        </div>
        <div routerLink="/piece" class="center">
            <div class="description">
                <h3>Ford Cobra</h3>
                <p>Author</p>
            </div>
        </div>
        <div routerLink="/piece" class="right">
            <div class="description">
                <h3>Right</h3>                
                <p>Author</p>
            </div>
        </div>
        
        <div routerLink="/piece" class="center">
            <div class="description">
                <h3>Center</h3>
                <p>Author</p>
            </div>
        </div>
        <div routerLink="/piece" class="left">
            <div class="description">
                <h3>Starry Night</h3>
                <p>Author</p>
            </div>
        </div>
    </div>

</div>

