.nav-bar {
    width: 100vw;
    text-align: right;
    position: sticky;

    a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 14px;
        font-weight: medium;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 150px;
        transition: 0.5s;

        &:hover {
            background-color: white;
            color: black;
            transition: 0.5s;
        }
    }
    
    
    .logo-container {
        position: absolute;
        text-align: center;
        float: left;
        color: white;
        letter-spacing: 5px;
        width: 300px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 18px;
        
        .logo {
            height: 18px;
            width: auto;
            margin-right: 30px;
            transform: scale(2);
        }
     }
}


