<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav-bar">
  <div class="logo-container">
    <img src="../assets/logo-skeletonized.png" alt="Art Speaking Logo" class="logo">
    <b>ART SPEAKING</b>
  </div>
  <ul>
    <a routerLink="/home" routerLinkActive="active-link">Home</a>
    <a routerLink="/gallery" routerLinkActive="active-link">Gallery</a>
    <a routerLink="/about" routerLinkActive="active-link">About</a>
    <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
  </ul>
  </nav>

<router-outlet></router-outlet>

<div class="under-bar">
    Under Bar
</div>

