<div class="content-loader">
    <div class="piece-description">
        <h1 class="title">{{piece.title}}</h1>
        <p class="text">
            {{piece.description}}
            <br><br>
        </p>
        
        <div *ngFor="let question of user.questionsData; let i=index">
            <div *ngIf="i>user.questionsData.length-6 && question.piece == piece.id" class="question">
                {{ question.question }}
            </div>
        </div>

        <br><br>

        <!-- Question input and button -->
        <input type="text" name="question" id="question-bloc" placeholder="Ask Something" class="question-input">
        <input type="button" name="send" id="send-question" value="send" class="send-button">

        <br><br><br>
    </div>

    <div class="piece-view" [style.background-image]="'url(' + piece.highres + ')'">
    </div>
</div>

