.piece-description {
    display: inline-block;
    width: 50%;
}

.piece-view {
    display: inline-block;
    width: 40%;
    height: 95%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    
    background-image: url('https://www.michelangelo.org/images/artworks/david.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text {
    width: 100%;
}

.question-input {
    width: 80%;
    padding: 15px;
    background-color: #111111;
    color: white;
    border-color: transparent;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: #222222;
        transition: 0.3s;
    }

    &:active {
        background-color: #333333;
    }
}

.send-button {
    width: 15%;    
    padding: 15px;
    border-color: transparent;
    background-color: black;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
        transition: 0.3s;
    }
}

textarea {
    resize: none;     
    color: white;
    width: 98%; 
    height: 130px; 
    padding: 2%; 

    border-width: 1px;
    border-style: solid;
    border-color: transparent;;
    background-color: transparent;
}
