<div class="content-loader">
    <div class="piece-description">
        <h1 class="title">{{piece.title}}</h1>
        <p class="text">
            {{piece.description}}
            <br><br>
        </p>
        
        <textarea readonly name="questions" id="questions-asked" cols="80" placeholder="Your questions will be shown here.">
        </textarea>

        <br><br>

        <input type="text" name="question" id="question-boc" placeholder="Ask Something" class="question-input">
        <input type="button" name="send" id="send-question" value="send" class="send-button">

        <br><br><br><br>
    </div>

    <div class="piece-view" [style.background-image]="'url(' + piece.highres + ')'">
    </div>
</div>

