<div class="content-loader">

    <div class="piece-view" [style.background-image]="'url(' + piece.highres + ')'">
    </div>

    <div class="piece-description">
        <h1 class="title">{{piece.title}}</h1>
        <p class="text">
            {{piece.description}}
            <br><br>
        </p>
        
        <div *ngFor="let question of user.questionsData; let i=index">
            <div *ngIf="question.piece == piece.id" class="question">
                {{ question.question }}
            </div>
        </div>

        <br><br>

        <!-- Question input and button -->
        <form (submit)="sendQuestion()">
            <input [(ngModel)]="questionBox" type="text" name="question" id="question-box" placeholder="Ask Something" class="question-input">
            <input type="submit" name="send" (click)="sendQuestion()" id="send-question" value="send" class="send-button">
        </form>

        <br><br><br><br><br><br>
    </div>
</div>

