* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@keyframes entry {
    0% {
        opacity: 0;
        transform: translateY(500px) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

body {
    background-color: black;
    background-image: url('https://images.squarespace-cdn.com/content/v1/53e43c86e4b0e9902e0be236/1487697157510-662ZESNNIJFSUGEU7D0A/ke17ZwdGBToddI8pDm48kJUlZr2Ql5GtSKWrQpjur5t7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UfNdxJhjhuaNor070w_QAc94zjGLGXCa1tSmDVMXf8RUVhMJRmnnhuU1v2M8fLFyJw/_DFA3999-Edit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    animation-name: entry;
    animation-duration: 1s;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
          display: none;     
    }
}

.content-loader {
    width: 91vw;
    height: 85vh;

    padding-left: 4.5vw;
    padding-right: 4.5vw;
    padding-top: 9vh;

    animation-name: loader;
    animation-duration: 0.5s;
    animation-direction: normal;
}

@keyframes loader {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sidebar {
   height: 90%;
   width: 1vw;
   position: fixed;
   z-index: 1;
   bottom: 0;
   left: 0;
   overflow-x: hidden;
   padding-top: 20px;
   background-color: red;
}

.title {
    color: white;
    letter-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text {
    width: 50%;
    color: white;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-weight: thin;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

.piece-container {
    width: 100%;
    height: auto; 
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;

    .description {
        width: inherit;
        height: inherit;
        background-color: black;
        opacity: 0;            
        transition: 0.3s;
        text-align: left;

        h3 {
            padding-top: 25px;
            padding-left: 25px;
            text-transform: uppercase;
        }

        p {
            padding-top: 10px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
            text-align: justify;
        }

        &:hover {
            opacity: 0.85;
            transition: 0.3s;
        }
    }

    .miniature {
        width: 25vw;
        height: 25vw;
        display: inline-block;
        color: white;
        background-color: white;
        transition: 0.3s;
        margin: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &:hover {
            transform: scale(1.15); 
            transition: 0.3s;
            cursor: pointer;
        }
    }
}

// Adjustments for mobile and smaler devices
@media only screen and (max-width:1000px) {
    .piece-container {
        width: 100%;
        height: auto;

        .miniature {
            width: 80vw;
            height: 80vw;
        }
    }

    .text {
        width: 100%;
    }
}