* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('https://www.artlimited.net/user/1/0/4/9/1/3/2/11774531/photography-dark-empire-digital-construction-edifice-building-large-open.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
