<div class="content-loader">
    <h1 class="title">JUMEX MUSEUM</h1>
    <p class="text">
        Jumex Colection is a private art collection owned by Eugenio López Alonso. It includes works by Damien Hirst, Andy Warhol, Gabriel Orozco, Cy Twombly, Jeff Koons, Marcel Duchamp, Andreas Gursky and many more.
        Jumex Colection is a private art collection owned by Eugenio López Alonso. It includes works by Damien Hirst, Andy Warhol, Gabriel Orozco, Cy Twombly, Jeff Koons, Marcel Duchamp, Andreas Gursky and many more.
    </p>

    <div class="piece-container">
        <div routerLink="/piece" class="left">
            <h3>Left</h3>
        </div>
        <div routerLink="/piece" class="center">
            <h3>Center</h3>
        </div>
        <div routerLink="/piece" class="right">
            <h3>Right</h3>
        </div>
    </div>
</div>

